// $white = #ffffff
// $black = #000000
$grey = #adadad
// $brown = #262424
// $pink = #a89292
$iphone = "only screen and (max-width: 320px)";
$phoneSE = "only screen and (max-width: 400px)";
$phone = "only screen and (max-width: 480px)";
$phoneAl = "only screen and (max-width: 600px)";
$tablet = "only screen and (max-width: 768px)";
$ultra1 = "only screen and (max-width: 992px)";
$tabletW = "only screen and (max-width: 990px)";
$ultra = "only screen and (max-width: 1024px)";
$s1100 = "only screen and (max-width: 1100px)";
$s1200 = "only screen and (max-width: 1280px)";
$s1360 = "only screen and (max-width: 1360px)";
$laptop = "only screen and (max-width: 1400px)";
$laptop1 = "only screen and (max-width: 1440px)";

h1
  text-align center

li
  border 1px solid $grey

.main
  margin 40px auto !important
  float none !important
  padding-top 15px !important
  padding-bottom 15px !important

.hidetask
  display none


// *
//     box-sizing border-box
//     outline none
// body
//     font-family 'Open Sans', sans-serif
//     background-color $white
// // a
// //     text-decoration none
// // ul
// //     list-style none
// //
// h1,h2,h3,h4,h5,h6,p,span,ul
//     padding 0
//     margin 0
//     text-align center
// li
//     list-style none
//     display inline-block
// nav
//     text-align center
// span
//     color red
//     padding-left 230px
//     @media $phone
//         color blue
//         padding-left 50px
// p
//     color red
//     font-size 14px
//     @media $phone
//         color blue
//         font-size 10px
